<% @title = "Hello " + @user.username + "!" %>

<div class="sidebar layout">
	<div class="user-info layout">
		<a href="/profile/<%= @user.id %>">
			<% if File.exist?('public/uploads/' + @user.username + '.jpg') %>
			<img src="/uploads/<%= @user.username %>.jpg" class="user-image"/>
			<% else %>
			<img src="/uploads/empty.jpg" class="user-image"/>
			<% end %>
		</a>	
		<p>
			<a href="/profile/<%= @user.id %>">
				<h3>@<%= @user.username %></h3>
			</a>	
		</p>
		<div class="user-stats layout">
			<p class="layout"><a href="/profile/<%= @user.id %>">Twizzles</a> <span><a href="/profile/<%= @user.id %>"><%= @twizzles.count %></a></span></p>
			<p class="layout"><a href="/followers/<%= @user.id %>">Followers</a> <span><a href="/followers/<%= @user.id %>"><%= @followers.count %></a></span></p>
			<p class="layout"><a href="/following/<%= @user.id %>">Following</a> <span><a href="/following/<%= @user.id %>"><%= @following.count %></a></span></p>
		</div>
	</div>

	<% if current_user.following.include?@user %>

			<form method="POST" action="/unfollow">
			<input type="hidden" name="follower_id" value="<%= session[:session_user_id] %>">
			<input type="hidden" name="followed_id" value="<%= @user.id %>">
			<hr />
			<button type="submit" class="btn btn-primary">Unfollow</button>
		</form>

	<% else %>

			<form method="POST" action="/follow">
			<input type="hidden" name="follower_id" value="<%= session[:session_user_id] %>">
			<input type="hidden" name="followed_id" value="<%= @user.id %>">
			<hr />
			<button type="submit" class="btn btn-primary">Follow</button>
		</form>

	<% end %>

</div>

<div class="main layout">
	
	<h3>
		Followers of <a href="/profile/<%= @user.id %>">@<%= @user.username %></a>
	</h3>

	<% @user.followers.sort_by { |key| key[:username] }.each do |user| %>
		<div class="twizzle layout">

			<div class="twizzle-user-wrapper layout">

				<div class="twizzle-image layout">
					<a href="/profile/<%= user.id %>">
						<% if File.exist?('public/uploads/' + user.username + '.jpg') %>
						<img src="/uploads/<%= user.username %>.jpg" class="twizzle-follower-image"/>
						<% else %>
						<img src="/uploads/empty.jpg" class="twizzle-follower-image"/>
						<% end %>
					</a>	
				</div>
				<div class="twizzle-heading layout">
					<a href="/profile/<%= user.id %>">
						<strong>
							<%= user.full_name %>
						</strong>	
					</a>
					<a href="/profile/<%= user.id %>">	
						@<%= user.username %>
					</a>	
				</div>
				<div class="twizzle-content layout">
					<%= user.headline %>
				</div>

			</div><!-- /twizzle-user-wrapper -->

			<div class="user-follow-form-wrapper layout">

				<% if session[:session_user_id] %>

					<% if current_user.following.include?user %>

							<form method="POST" action="/unfollow">
							<input type="hidden" name="follower_id" value="<%= session[:session_user_id] %>">
							<input type="hidden" name="followed_id" value="<%= user.id %>">
							<input type="hidden" name="followed_username" value="<%= user.username %>">
							<button type="submit" class="btn btn-primary">Unfollow</button>
						</form>

					<% else %>

						<form method="POST" action="/follow">
							<input type="hidden" name="follower_id" value="<%= session[:session_user_id] %>">
							<input type="hidden" name="followed_id" value="<%= user.id %>">
							<input type="hidden" name="followed_username" value="@<%= user.username %>">
							<button type="submit" class="btn btn-primary">Follow</button>
						</form>

					<% end %>

				<% end %>

			</div><!-- /form-wrapper -->

		</div><!-- /twizzle -->

		<hr />

	<% end %>



</div><!-- /main -->