	<% @title = "Welcome To Twizzler" %>

	<h1>Users</h1>
	
	<hr />


<div class="sidebar layout">
<h3>Popular Groups</h3>

	<div class="group-info layout">

		<% @groups.each do |group| %>

		<a href="/group/<%= group.id %>">
			<%= group.name %>
		</a> <br />

		<% end %>	

	</div><!-- group-info -->

</div><!-- sidebar -->




<div class="main layout">

<h3>All Users</h3>

	<% @users.sort_by { |key| key[:username] }.each do |user| %>
		<div class="twizzle layout">

			<div class="twizzle-user-wrapper layout">

				<div class="twizzle-image layout">
					<a href="/profile/<%= user.id %>">
						<% if File.exist?('public/uploads/' + user.username + '.jpg') %>
						<img src="/uploads/<%= user.username %>.jpg" class="twizzle-follower-image"/>
						<% else %>
						<img src="/uploads/empty.jpg" class="twizzle-follower-image"/>
						<% end %>
					</a>	
				</div>
				<div class="twizzle-heading layout">
					<a href="/profile/<%= user.id %>">
						<strong>
							<%= user.full_name %>
						</strong>	
					</a>
					<a href="/profile/<%= user.id %>">	
						@<%= user.username %>
					</a>	
				</div>
				<div class="twizzle-content layout">
					<%= user.headline %>
				</div>

			</div><!-- /twizzle-user-wrapper -->

			<div class="user-follow-form-wrapper layout">

				<% if session[:session_user_id] %>

					<% if current_user.following.include?user %>

							<form method="POST" action="/unfollow">
							<input type="hidden" name="follower_id" value="<%= session[:session_user_id] %>">
							<input type="hidden" name="followed_id" value="<%= user.id %>">
							<input type="hidden" name="followed_username" value="<%= user.username %>">
							<button type="submit" class="btn btn-primary">Unfollow</button>
						</form>

					<% else %>

						<form method="POST" action="/follow">
							<input type="hidden" name="follower_id" value="<%= session[:session_user_id] %>">
							<input type="hidden" name="followed_id" value="<%= user.id %>">
							<input type="hidden" name="followed_username" value="@<%= user.username %>">
							<button type="submit" class="btn btn-primary">Follow</button>
						</form>

					<% end %>

				<% end %>

			</div><!-- /form-wrapper -->

		</div><!-- /twizzle -->

		<hr />

	<% end %>



</div><!-- /main -->

